.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 44, 60);
    padding: 20px 60px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
    color: #facc15;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #facc15;
  }
  .nav-links li a {
  font-family: 'italics';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

/* Hover Effects */
.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #facc15;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #facc15;
  text-shadow: 0 0 5px #facc15, 0 0 10px #facc15;
}

.nav-links li a:hover::after {
  width: 100%;
}
