.skills-page {
    padding: 3rem;
    min-height: 100vh;
    background: rgb(251, 251, 254);
    font-family: 'Poppins', sans-serif;
    color: #e3d7c8;
  }
  
  .skills-title {
    text-align: center;
    font-size: 2.8rem;
    color: #ff6600;
    margin-bottom: 4rem;
    position: relative;
    animation: slideFade 1s ease-in-out;
   
  }
  
  .skills-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .skill-card-section {
    flex: 1 1 400px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(30, 144, 255, 0.1);
    backdrop-filter: blur(5px);
  }
  
  .skill-card-section h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #1f1731;
    padding-bottom: 0.5rem;
    color: #ff6600;
  }
  
  .skill-bar {
    margin-bottom: 1.8rem;
  }
  
  .skill-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #02040f;
  }
  
  .skill-icon {
    font-size: 1.8rem;
  }
  
  .progress {
    height: 14px;
    background: #200806;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-inner {
    height: 100%;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    border-radius: 20px;
    transition: width 1.5s ease-in-out;
  }
  
  .percent-label {
    white-space: nowrap;
  }
  